.essentialService {
  width: 100%;
  max-width: 800px;
  text-align: center;
  margin: 60px auto; }
  .essentialService .attention {
    font-size: 30px;
    color: red;
    text-transform: uppercase;
    font-weight: bold; }
  .essentialService .bold {
    font-weight: bold; }
  .essentialService .thankYou {
    text-align: right; }
