
body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
}

button {
	padding: 10px 30px;
	background-color: transparent;
	border: none;
	font-size: 18px;
	cursor: pointer;
	transition: all .2s ease-in-out;
}

.widthRestriction {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}