$name-color: #ebf5fb
$description-color: #abb2b9
$button-color: #fad7a0

.featured
	width: 100%
	padding: 70px 0
	background: rgb(41,125,181)
	background: -moz-radial-gradient(circle, rgba(41,125,181,1) 0%, rgba(21,67,96,1) 100%)
	background: -webkit-radial-gradient(circle, rgba(41,125,181,1) 0%, rgba(21,67,96,1) 100%)
	background: radial-gradient(circle, rgba(41,125,181,1) 0%, rgba(21,67,96,1) 100%)
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#297db5",endColorstr="#154360",GradientType=1)

	.category
		width: 33%
		float: left
		padding: 0 10px

		img
			width: 100%
			margin-bottom: 10px

		.title
			font-size: 18px
			color: $name-color
			text-transform: uppercase

		p
			height: 100px
			font-size: 15px
			margin-bottom: 20px
			color: $description-color

		button
			color: $button-color
			border: 2px solid $button-color
			float: right

			&:hover
				color: white
				background-color: $button-color

	video
		width: 100%
		border: 3px solid #7fb3d5

@media(max-width: 400px)
	.featured
		display: block

		.category
			width: 100%
			margin-bottom: 30px