.services {
  width: 100%;
  padding: 0 10px; }
  .services .service {
    width: 100%;
    margin-bottom: 15px; }
    .services .service .title {
      font-size: 16px;
      margin-bottom: 5px;
      text-transform: uppercase; }
    .services .service .holder {
      padding: 0 15px; }
      .services .service .holder .description {
        font-size: 12px;
        color: #808b96;
        margin-bottom: 10px; }
      .services .service .holder button {
        color: #f8c471;
        border: 2px solid #f8c471;
        float: right; }
        .services .service .holder button:hover {
          color: white;
          background-color: #f8c471; }
