.bbq {
  width: 100%; }

.bbqImage img {
  width: 100%;
  margin-top: 30px; }

.bbqImage p {
  font-size: 10px;
  text-align: center; }

.bbqDetails {
  width: 100%;
  padding: 0 20px; }
  .bbqDetails .name {
    font-size: 18px; }
  .bbqDetails .brand {
    font-size: 12px; }
  .bbqDetails p {
    color: #566573;
    margin-bottom: 40px; }
  .bbqDetails button {
    color: #85c1e9;
    border: 2px solid #85c1e9;
    float: right; }
    .bbqDetails button:hover {
      color: white;
      background-color: #85c1e9; }
  .bbqDetails .iconBar {
    width: 100%;
    max-width: 600px;
    margin: 0 auto; }
    .bbqDetails .iconBar .item {
      text-align: center;
      float: left;
      width: 25%;
      margin-bottom: 30px; }
      .bbqDetails .iconBar .item i {
        font-size: 70px;
        color: #1f618d;
        margin-bottom: 10px; }
      .bbqDetails .iconBar .item .label {
        font-size: 14px; }

.bbqOptions {
  width: 100%; }
  .bbqOptions .option {
    width: 125px;
    float: left;
    margin: 0 10px;
    margin-bottom: 20px; }
    .bbqOptions .option img {
      width: 100%;
      height: 100px; }
    .bbqOptions .option .label {
      font-size: 12px; }

.alsoViewed .spa {
  width: 25%;
  padding: 0 20px;
  float: left;
  margin-bottom: 30px; }
  .alsoViewed .spa img {
    width: 100%;
    margin-bottom: 10px; }
  .alsoViewed .spa .title {
    font-size: 18px;
    color: #566573; }
  .alsoViewed .spa .brand {
    font-size: 11px;
    margin-bottom: 20px;
    color: #abb2b9; }
  .alsoViewed .spa button {
    color: #85c1e9;
    border: 2px solid #85c1e9;
    float: right; }
    .alsoViewed .spa button:hover {
      color: white;
      background-color: #85c1e9; }

@media (max-width: 400px) {
  .bbqDetails .iconBar .item {
    width: 50%; } }
