.clients {
  width: 100%; }
  .clients .liveSearch {
    width: 100%;
    margin-top: 10px; }
    .clients .liveSearch input {
      width: 50%;
      max-width: 400px;
      padding: 10px;
      border: 1px solid #abb2b9; }
    .clients .liveSearch .searchName {
      width: 100%;
      font-size: 10px;
      font-weight: bold;
      margin-top: 10px;
      text-transform: uppercase;
      color: #808b96; }
  .clients .clientList {
    width: 100%; }
    .clients .clientList table {
      width: 100%;
      margin-top: 10px; }
      .clients .clientList table tr {
        width: 100%; }
        .clients .clientList table tr th {
          font-size: 10px;
          text-align: left; }
        .clients .clientList table tr td {
          padding: 10px 0;
          border-bottom: 1px solid #d5d8dc;
          color: #566573; }
          .clients .clientList table tr td a {
            text-decoration: none;
            color: #417eeb; }
          .clients .clientList table tr td i {
            color: #417eeb;
            cursor: pointer; }
          .clients .clientList table tr td input {
            width: 100%;
            padding: 5px; }
          .clients .clientList table tr td button {
            width: 100%;
            padding: 5px;
            color: #5499c7; }
  .clients .newClient {
    width: 100%; }
    .clients .newClient button {
      border: 1px solid #85c1e9;
      color: #85c1e9;
      margin-top: 20px; }
      .clients .newClient button:hover {
        color: white;
        background-color: #85c1e9; }

.error {
  color: red; }
