.orders {
  width: 100%; }
  .orders .liveSearch {
    width: 100%;
    margin-top: 10px; }
    .orders .liveSearch input {
      width: 50%;
      max-width: 400px;
      padding: 10px;
      border: 1px solid #abb2b9; }
    .orders .liveSearch .searchName {
      width: 100%;
      font-size: 10px;
      font-weight: bold;
      margin-top: 10px;
      text-transform: uppercase;
      color: #808b96; }
  .orders .newOrder {
    width: 100%; }
    .orders .newOrder table {
      width: 100%; }
      .orders .newOrder table tr {
        width: 100%; }
        .orders .newOrder table tr th {
          font-size: 10px;
          text-align: left; }
        .orders .newOrder table tr td {
          padding: 10px 0; }
          .orders .newOrder table tr td i {
            color: #417eeb;
            cursor: pointer; }
          .orders .newOrder table tr td input {
            width: 100%;
            padding: 10px;
            border: 1px solid #abb2b9; }
          .orders .newOrder table tr td button {
            width: 100%;
            padding: 5px;
            color: #5499c7; }
          .orders .newOrder table tr td select {
            width: 100%;
            padding: 10px; }
  .orders .orderList {
    width: 100%; }
    .orders .orderList table {
      width: 100%;
      margin-top: 10px; }
      .orders .orderList table tr {
        width: 100%; }
        .orders .orderList table tr th {
          font-size: 10px;
          text-align: left; }
        .orders .orderList table tr td {
          padding: 10px 0;
          border-bottom: 1px solid #d5d8dc;
          color: #566573; }
          .orders .orderList table tr td i {
            color: #417eeb;
            cursor: pointer; }
          .orders .orderList table tr td input {
            width: 100%;
            padding: 5px; }
          .orders .orderList table tr td button {
            width: 100%;
            padding: 5px;
            color: #5499c7; }
