@import "src/static/sass/config"

.videoHeader
	width: 100%

	.videoHolder
		width: 100%
		height: 400px
		overflow: hidden
		position: relative

		video
			width: 100%
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0

		.overlay
			position: absolute
			color: white
			text-align: center
			top: 0
			left: 0
			bottom: 0
			right: 0
			background-color: rgba(21, 67, 96, 0.5)

			.title
				font-size: 18px
				text-transform: uppercase
				color: #d4e6f1
				font-weight: 900
				text-shadow: $montserat
				line-height: 0
				margin-top: 5%

			.main
				font-size: 80px
				font-family: $arvo
				line-height: 70px

			.buttonBar
				width: 100%
				max-width: 800px
				margin: 40px auto 0 auto
				display: flex
				flex-direction: row
				justify-content: space-between

				a
					margin: 0 10px
					font-weight: bold

@media (max-width: $mobile-landscape-max)
	.videoHeader
		.videoHolder
			height: 110vh

			video
				height: 100%
				width: auto

			.overlay

				.main
					font-size: 60px
					line-height: 50px

				.buttonBar
					flex-direction: column
					padding: 0 5px

					a
						margin: 0 0 10px 0
