.mainHeader {
  width: 100%;
  height: 800px;
  overflow: hidden;
  position: relative; }
  .mainHeader .video {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0; }
  .mainHeader .img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0; }
  .mainHeader .mediaOverlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(21, 67, 96, 0.5);
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .mainHeader .mediaOverlay .contentShifter {
      width: 600px;
      margin: 0 auto;
      text-align: center; }
      .mainHeader .mediaOverlay .contentShifter img {
        width: 100%; }
      .mainHeader .mediaOverlay .contentShifter p {
        text-align: center;
        color: white;
        font-size: 20px; }
      .mainHeader .mediaOverlay .contentShifter button {
        color: #f8c471;
        border: 2px solid #f8c471;
        padding: 10px 80px; }
        .mainHeader .mediaOverlay .contentShifter button:hover {
          color: white;
          background-color: #f8c471; }

@media (max-width: 400px) {
  .mainHeader {
    height: 90vh; }
    .mainHeader .video, .mainHeader .img {
      height: 90vh;
      width: auto; }
    .mainHeader .mediaOverlay {
      padding: 0 10px; }
      .mainHeader .mediaOverlay .contentShifter {
        width: 100%; } }

@media (min-width: 401px) and (max-width: 800px) {
  .mainHeader {
    height: 90vh; }
    .mainHeader .video, .mainHeader .img {
      height: 90vh;
      width: auto; } }

@media (min-width: 801px) and (max-width: 1500px) {
  .mainHeader {
    height: 90vh; }
    .mainHeader .video, .mainHeader .img {
      height: 90vh;
      width: auto; } }
