.navigationBar {
  width: 100%;
  color: #f4f6f6;
  padding: 20px;
  z-index: 1;
  position: relative;
  background: #154360;
  background: -moz-linear-gradient(90deg, #154360 53%, #1f618d 100%);
  background: -webkit-linear-gradient(90deg, #154360 53%, #1f618d 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(53%, #154360), to(#1f618d));
  background: -webkit-linear-gradient(left, #154360 53%, #1f618d 100%);
  background: -o-linear-gradient(left, #154360 53%, #1f618d 100%);
  background: linear-gradient(90deg, #154360 53%, #1f618d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#154360", endColorstr="#1f618d", GradientType=1); }
  .navigationBar .desktop {
    width: 80%;
    float: right;
    display: block; }
    .navigationBar .desktop a {
      color: #f4f6f6;
      text-decoration: none; }
    .navigationBar .desktop .menuItem {
      padding: 0 5px 5px 5px;
      margin: 0 20px;
      float: right;
      cursor: pointer;
      border-bottom: 2px solid transparent;
      -webkit-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
      .navigationBar .desktop .menuItem:hover {
        border-bottom: 2px solid #f8c471; }
      .navigationBar .desktop .menuItem i {
        margin-right: 5px;
        font-size: 20px; }
  .navigationBar .mobile {
    width: 20%;
    float: left;
    display: none; }
    .navigationBar .mobile i {
      font-size: 30px;
      cursor: pointer; }

.slider {
  width: 100%;
  height: 100vh;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000; }
  .slider .background {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    z-index: 1001; }
  .slider .drawer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 90%;
    max-width: 400px;
    height: 100vh;
    background-color: white;
    padding: 10px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    z-index: 1002; }
    .slider .drawer .close {
      width: 100%;
      font-size: 25px;
      text-align: right;
      cursor: pointer;
      margin-bottom: 20px; }
    .slider .drawer img {
      width: 100%;
      margin-bottom: 40px; }
    .slider .drawer .menu {
      margin-bottom: 30px; }
      .slider .drawer .menu a {
        color: #154360;
        text-decoration: none; }
      .slider .drawer .menu .menuItem {
        padding: 0 0 20px 5px; }
        .slider .drawer .menu .menuItem i {
          width: 25px; }
    .slider .drawer .callBlock {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0; }
      .slider .drawer .callBlock .call {
        margin-bottom: 15px;
        text-align: center; }
        .slider .drawer .callBlock .call .num {
          font-size: 20px; }
        .slider .drawer .callBlock .call .label {
          font-size: 12px; }

.closedSlider {
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden; }

@media (max-width: 800px) {
  .navigationBar .desktop {
    display: none; }
  .navigationBar .mobile {
    display: block; } }

@media (min-width: 801px) and (max-width: 1050px) {
  .navigationBar .desktop {
    width: 100%; }
  .slider .background {
    width: 0;
    padding: 0;
    overflow: hidden; }
  .slider .drawer {
    width: 0;
    padding: 0;
    overflow: hidden; } }
