.storeLocations {
  width: 100%; }
  .storeLocations .location {
    width: 100%;
    margin-bottom: 25px; }
    .storeLocations .location img {
      width: 100%; }
    .storeLocations .location .address {
      font-size: 15px;
      color: #808b96; }
    .storeLocations .location .phone {
      font-size: 18px;
      color: #566573; }
  .storeLocations .service .serviceHolder {
    margin: 30px 0;
    color: #808b96; }
    .storeLocations .service .serviceHolder .title {
      font-size: 16px;
      margin: 15px 0;
      border-bottom: 1px solid #d5d8dc;
      color: #2c3e50; }
    .storeLocations .service .serviceHolder .day {
      font-size: 13px;
      margin-bottom: 5px; }
