.storeLocations {
  width: 100%; }
  .storeLocations .location {
    width: 100%;
    margin-bottom: 25px; }
    .storeLocations .location img {
      width: 100%; }
    .storeLocations .location .address {
      font-size: 15px;
      color: #808b96; }
    .storeLocations .location .phone {
      font-size: 18px;
      color: #566573; }
