$address-color: #808b96
$phone-color: #566573

.storeLocations
	width: 100%

	.location
		width: 100%
		margin-bottom: 25px

		img
			width: 100%

		.address
			font-size: 15px
			color: $address-color

		.phone
			font-size: 18px
			color: $phone-color

	.service

		.serviceHolder
			margin: 30px 0
			color: #808b96

			.title
				font-size: 16px
				margin: 15px 0
				border-bottom: 1px solid #d5d8dc
				color: #2c3e50

			.day
				font-size: 13px
				margin-bottom: 5px