.dashboard {
  width: 100%;
  overflow-x: hidden;
  margin-left: 75px;
  position: relative; }
  .dashboard .workspace {
    width: calc(100% - 75px);
    background-color: #d5dbdb;
    float: left;
    padding: 20px 10px; }
    .dashboard .workspace .workarea {
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
      min-height: 100vh;
      background-color: white;
      border-radius: 6px;
      padding: 30px; }
